<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * system
 *
 * @copyright Copyright © 2020 Magepow. All rights reserved.
 * @author    @copyright Copyright (c) 2014 Magepow (<https://www.magepow.com>)
 * @license <https://www.magepow.com/license-agreement.html>
 * @Author: magepow<support@magepow.com>
 * @github: <https://github.com/magepow>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="1">
            <label>Magepow</label>
        </tab>
        <section id="magepow_wallpaper" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Wallpaper</label>
            <class>separator-top</class>
            <tab>magepow</tab>
            <resource>Magepow_Wallpaper::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="unit_of_measure" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Unit Wallpaper</label>
                    <source_model>Magepow\Wallpaper\Model\System\Config\Unit</source_model>
                </field>
                <field id="sample" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sample Product</label>
                </field>


            </group>
        </section>
    </system>
</config>
